header {
    background-color: white;
    display: flex;
    padding-left: 10%;
    padding-right: 10%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}


.search_area{
    position: relative;
    width: 736px;
    margin-left: auto;
    margin-right: auto;
    border: 5px solid #F29203;

}


.search_input_box{
    width: 670px;
    background-color: white;
    border: none;
}

.search_input{
    width: 100%;
    height: 58px;
    border: none;
    font-size: 2rem;
    padding-left: 20px;
    padding-right: 20px;
}

.search_button{
    position: absolute;
    background-color: #F29203;
    width: 58px;
    height: 58px;
    top: 0;
    right: 0;
    cursor: pointer;
    border: none;

    outline: none;
}


/* 필드 레이아웃 */
.container{
    width: 1260px;
    margin: auto;

}

.field {
    display: flex;
    flex-direction: column; /* 수직 배치 */
    margin-bottom: 20px; /* 각 필드 간 간격 */
}

/* 제목 스타일 */
.field .main-content-title {
    margin-bottom: 5px; /* 제목과 텍스트 사이 간격 */
    font-weight: bold;
    font-size: 18px;
    text-align: left; /* 좌측 정렬 유지 */
}

/* 텍스트 입력 스타일 */
.field .main-content-text {
    font-size: 16px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%; /* 입력 필드 전체 너비 */
    box-sizing: border-box; /* 패딩 포함 너비 계산 */
}



/* 버튼 스타일 */
.action-buttons {
    display: flex;
    justify-content: right;
    gap: 20px;
    margin: 30px 0;
}

.delete-button, .submit-button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.delete-button {
    background-color: #d9534f;
    color: #fff;
}

.submit-button {
    background-color: #5cb85c;
    color: #fff;
}

.delete-button:hover {
    background-color: #c9302c;
}

.submit-button:hover {
    background-color: #4cae4c;
}
