header {
    background-color: white;
    display: flex;
    padding-left: 10%;
    padding-right: 10%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}


.search_area{
    position: relative;
    width: 736px;
    margin-left: auto;
    margin-right: auto;
    border: 5px solid #F29203;

}


.search_input_box{
    width: 670px;
    background-color: white;
    border: none;
}

.search_input{
    width: 100%;
    height: 58px;
    border: none;
    font-size: 2rem;
    padding-left: 20px;
    padding-right: 20px;
}

.search_button{
    position: absolute;
    background-color: #F29203;
    width: 58px;
    height: 58px;
    top: 0;
    right: 0;
    cursor: pointer;
    border: none;

    outline: none;
}

.title{
    margin-top: 100px;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    width: 1260px;
}

.title-text{
    border-bottom: 1px solid #757575;
}

.title-text h1{
    font-size: 2.5rem;
    font-weight: bold;

}

.title-text p{
    font-size: 1.5rem;
    font-weight: 300;
    color: gray;
}

.title-info{
    justify-content: left;
    color: gray;
    float: left;
}

.bookmark{
    justify-content: right;
    float: right;
    align-items: center;
    height: 50px;
    line-height: 50px;
}

.bookmark-button{
    background-color: rgb(217, 217, 217, 0.33);
    color: black;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
}

.keyword{
    display: block;
    text-align: left;

}

.author{


}

.abstract{


}

.index{


}

.reference{


}

.reference-pic{


}

.main-content{
    width: 1260px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;

}

.main-content-title{
    font-weight: bold;
    font-size: 20px;
    margin-top: 30px;
    position: relative;
    display: inline-block;
}

.main-content-text{
    font-weight: normal;
    font-size: 20px;
    margin-top: 30px;
    margin-left: 20px;
    display: inline-block;

}
