<!-- 공통 스타일 -->
@font-face {
    font-family: "SpoqaHanSansNeo";
    src: url("/resources/fonts/SpoqaHanSansNeo-Bold.ttf") format("truetype");
    font-weight: 700;
}
@font-face {
    font-family: "SpoqaHanSansNeo";
    src: url("/resources/fonts/SpoqaHanSansNeo-Regular.ttf") format("truetype");
    font-weight: 400;
}
@font-face {
    font-family: "SpoqaHanSansNeo";
    src: url("/resources/fonts/SpoqaHanSansNeo-Light.ttf") format("truetype");
    font-weight: 300;
}
@font-face {
    font-family: "SpoqaHanSansNeo";
    src: url("/resources/fonts/SpoqaHanSansNeo-Thin.ttf") format("truetype");
    font-weight: 100;
}

#Page {
    font-family: "SpoqaHanSansNeo", Arial, sans-serif;
    height: auto;
    min-height: 100%;
    padding-bottom: 153px;
}

footer {
    position: relative;
    height: 153px;
    margin-top: 50px;
    background-color: #F3F1F4;

}

.logo{
    position: absolute;
    width: 266px;
    height: 82px;
    top: 36px;
    left: 28px;
    object-fit: cover;
}

.element{
    position: absolute;
    width: 610px;
    top: 54px;
    left: 605px;
    font-family: "SpoqaHanSansNeo", Arial, sans-serif;
    font-weight: 400;
    color: #000000;
    white-space: nowrap;
    font-size: 20px;
    letter-spacing: 0;
    line-height: 20px;
}


.text1{
    font-weight: 500;
}

.text2{
    font-weight: 300;
}

.footer_text{
    position: absolute;
    width: 225px;
    top: 54px;
    left: 320px;
    font-family: "SpoqaHanSansNeo", Arial, sans-serif;
    font-weight: 700;
    color: #737373;
    font-size: 24px;
    white-space: nowrap;
    letter-spacing: 0;
    line-height: 20px;
}


header {
    background-color: white;
    display: flex;
    padding-left: 10%;
    padding-right: 10%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}


.search_area{
    position: relative;
    width: 736px;
    margin-left: auto;
    margin-right: auto;
    border: 5px solid #F29203;

}


.search_input_box{
    width: 670px;
    background-color: white;
    border: none;
}

.search_input{
    width: 100%;
    height: 58px;
    border: none;
    font-size: 2rem;
    padding-left: 20px;
    padding-right: 20px;
}

.search_button{
    position: absolute;
    background-color: #F29203;
    width: 58px;
    height: 58px;
    top: 0;
    right: 0;
    cursor: pointer;
    border: none;

    outline: none;
}
