<!-- 공통 스타일 -->
@font-face {
    font-family: "SpoqaHanSansNeo";
    src: url("/resources/fonts/SpoqaHanSansNeo-Bold.ttf") format("truetype");
    font-weight: 700;
}
@font-face {
    font-family: "SpoqaHanSansNeo";
    src: url("/resources/fonts/SpoqaHanSansNeo-Regular.ttf") format("truetype");
    font-weight: 400;
}
@font-face {
    font-family: "SpoqaHanSansNeo";
    src: url("/resources/fonts/SpoqaHanSansNeo-Light.ttf") format("truetype");
    font-weight: 300;
}
@font-face {
    font-family: "SpoqaHanSansNeo";
    src: url("/resources/fonts/SpoqaHanSansNeo-Thin.ttf") format("truetype");
    font-weight: 100;
}

.Page {
    font-family: "SpoqaHanSansNeo", Arial, sans-serif;
}

footer {
    position: relative;
    width: 1440px;
    height: 153px;
    background-color: #F3F1F4;
}

.logo{
    position: absolute;
    width: 266px;
    height: 82px;
    top: 36px;
    left: 28px;
    object-fit: cover;
}

.element{
    position: absolute;
    width: 610px;
    top: 54px;
    left: 605px;
    font-family: "SpoqaHanSansNeo", Arial, sans-serif;
    font-weight: 400;
    color: #000000;
    white-space: nowrap;
    font-size: 20px;
    letter-spacing: 0;
    line-height: 1.5;
}

.text1{
    font-weight: 500;
}

.text2{
    font-weight: 300;
}

.footer_text{
    position: absolute;
    width: 225px;
    top: 54px;
    left: 320px;
    font-family: "SpoqaHanSansNeo", Arial, sans-serif;
    font-weight: 700;
    color: #737373;
    font-size: 24px;
    white-space: nowrap;
    letter-spacing: 0;
    line-height: 1.5;
}
